@model CompanyCreateBindingModel
@{
    ViewBag.Title = "Create Company";
}
<div class="row mt-2">
    <br />
    <div class="col-md-4 offset-md-4 text-center">
        <h1>Create Company</h1>
        <form method="Post" asp-action="Create" asp-controller="Company">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate"></label>
                <input asp-for="CreationDate" type="date" max="@DateTime.Now.AddDays(30)" min="1900-01-01" class="form-control">
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn-lg btn-primary">Create Company</button>
            <br />
        </form>
    </div>
</div>