@model CompanyCreateBindingModel
@{
    ViewBag.Title = "Create Company";
}
<div class="row mt-2">
    <br />
    <div class="col-md-4 offset-md-4 text-center">
        <h1>Create Company</h1>
        <form method="Post" asp-action="Create" asp-controller="Company">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate"></label>
                <input id="datepicker" asp-for="CreationDate" class="form-control" value="" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn-lg btn-primary">Create Company</button>
            <br />
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>