@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="scr">Demo application for managing users</p>
    <img src="~/images/index-img.jpg" alt="Start Image" />
</div>
